
.grid-container {
  display: grid;
  grid: 150px / auto auto auto;
}

.card{
    
  border-radius: 5%;
}

.image{
  border-radius: 5%;
}

body{
  background-color: silver;
  background-size: cover;
  
}

card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

img {
  border-radius: 5% 5% 5% 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-header {
  font-size: 20px;
  font-weight: bolder;
}

.container {
  padding: 2px 16px;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bolder;
}
